{% extends 'players/base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/program.css">

<link rel="stylesheet" href="/static/unity/TemplateData/style.css" />
<link rel="shortcut icon" href="/static/unity/TemplateData/favicon.ico" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      {% include "players/program.html" %}
    </div>
    <div class="col-md-7">
      {% include "players/unity.html" %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ext-language_tools.js"></script>
<script src="/static/js/program.js"></script>

<script src="/static/unity/Dependencies/socket.io.js"></script>
<script src="/static/unity/TemplateData/UnityProgress.js"></script>
<script src="/static/js/unity.js"></script>
<script src="/static/unity/Development/UnityLoader.js"></script>
{% endblock %}
