<div class="row">
  <div class="col-md-12">
    <h2>Program</h2>
    <p>Use the box below to program your Avatar. Save using the button on the right.</p>
  </div>
</div>
<div class="row">
    <div id="alerts" class="alert collapse" role="alert">
    </div>
</div>
<div class="row">
    <div id="editor" class="col-md-12"></div>
</div>
<div class="row">
  <form id="saveForm" action="" method="POST">
      {% csrf_token %}
      <div id="buttons" class="col-md-3">
          <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
      </div>
  </form>
</div>
